html {
    /* background-color: #f0f3f4; */
    background-color: #F7F7F7!important;

}

body {
    font-family: '微软雅黑', "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.42857143;
    color: #58666e;
    background-color: transparent;
}
a{color:#000;}
a:hover,
a:focus {
    color:#002f68;
    text-decoration: none;
}
p{
    text-indent:2em;
}
.app-header-fixed {
    margin-bottom: 170px;
}

.app-header-fixed .app-header {
    position: fixed;
    top: 0;
    width: 100%;
}
footer{
    font-style:inherit;
    text-align: center;
}
.m-b {
    margin-bottom: 15px;
}
.w-xs {
    width: 90px;
}
.inline {
    display: inline-block !important;
}

.v-middle {
    vertical-align: middle !important;
}

.v-top {
    vertical-align: top !important;
}

.v-bottom {
    vertical-align: bottom !important;
}
.padder {
    padding-right: 15px;
    padding-left: 15px;
    /*margin-bottom: 60px;*/
}
.padder-r{
    padding-right: 20px;
}
.padder-l{
    padding-left: 15px;
}
/*字体颜色*/
.col-lbr {
    color:#58666e;
}
.font-title{
    color:#58666e;
    font-size: 1rem;
    font-weight: bold;
}
/*版心*/
.w-content{
    width: 1221px;margin:0 auto;
}
.md-content{
    padding-bottom: 60px;
}
/*自定义 列表*/
/*样式一*/
.ranking{
    background: #bdbdbd;
    color: #fff;
    width: 18px;
    height: 18px;
    display: inline-block;
    text-align: center;
    font-size: 12px;
}
.red-ranking{
    background: #cc0000;
}
.red-ranking-font{
    color: #cc0000;
}

.hot-title{
    padding: 8px 10px 0px 10px !important;
}
.hot-title span{
    display: inline-block;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}
.color-blue-lbr{
    color:#004B97;
}
.f6{
    font-size: 1rem;
}
.font-title{
    color:#58666e;
    font-size: 1rem;
    font-weight: bold;
}
.font-bold {
    font-weight: 700;
    /*font-size: 16px;*/
}
.collection-box{
    border:1px solid #dde6e6;
    background-color:#fff;
}

.collection-title{
    height: 40px;
    border-bottom:1px solid #dde6e6;
    line-height: 38px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:#f6f8f8;
}
.collection-body{
    padding:2px;
}
.table-th-e{
    background-color:#e3f2fd;
    color:#666;
}