<div class="list-group">
    <li  class="list-group-item active clearfix">
        <h4 class="list-group-item-heading pull-left">
            个人信息
        </h4>
        <button class="btn btn-success pull-right" ng-click="save()">编辑</button>
    </li>
    <li  class="list-group-item clearfix">
        <span class="list-group-item-heading pull-left">
            姓名：
        </span>
        <p class="list-group-item-text pull-left" >
            {{student.name}}
        </p>
    </li>
    <li class="list-group-item clearfix">
       <span class="list-group-item-heading pull-left">
            性别:{{student.sex}}
        </span>

    </li>
    <li class="list-group-item clearfix">
       <span class="list-group-item-heading pull-left">
            院系:计算机与控制工程学院
        </span>
    </li>
    <li class="list-group-item clearfix">
       <span class="list-group-item-heading pull-left">
            籍贯:中国天津
        </span>
        <!--<p class="list-group-item-text pull-left" value="111" contenteditable="true">-->
            <!--nnnnnn-->
        <!--</p>-->
    </li>
</div>
<div>
    <span>测试</span>
    <ul>
        <li ng-repeat="t in students" >
            <span>学号：{{t.id}}</span><br>
            <span>姓名：{{t.name}}</span><br>
            <span>性别：{{t.sex}}</span><br>
            <span>年龄：{{t.age}}</span><br>
        </li>
    </ul>
</div>

