<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!--评教结果查询-->
<!--左侧:班级列表->班级总评分-->
    <!--班级下拉学生列表->每个学生给自己的各项评分  分数 以及总分-->
<!--右侧:详情页面-->
<div class="w-content">
    <div class="pull-left wid-percent-26">
        <!--左侧：老师列表页面-->
        <!--右侧：具体评教页面(ui-view)-->
        <a ui-sref="app.teachersResult.default">
            <li  class="list-group-item active clearfix" style="background-color: #f6f8f8; border:1px solid #dde6e6;">
                <h4 class="list-group-item-heading pull-left" style="color:#58666e;font-weight: bold;line-height: 30px">
                    本学期开设课程
                </h4>
                <!--<button class="btn btn-success pull-right" ng-click="save()">编辑</button>-->
            </li>
        </a>

        <a ui-sref="app.teachersResult.detail({courseId: d.id })" ng-repeat="d in data">
            <li  class="list-group-item clearfix">
                <span class="list-group-item-heading pull-left">
                    {{d.name}}
                </span>
                <!--<span class="pull-right clr-success" ng-if="d.status">已评</span>-->
                <!--<span class="pull-right clr-warning" ng-if="!(d.status)">未评</span>-->
            </li>
        </a>
    </div>

    <div class="pull-right wid-percent-70">
        <ui-view></ui-view>
    </div>
</div>
</body>
</html>