<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!--<link rel="stylesheet" href="css/login.css"/>-->
    <!--<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>-->
    <!--<link rel="stylesheet" href="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>-->
    <!--<script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <!--<script src="http://cdn.bootcss.com/angular.js/1.5.8/angular.js"></script>-->
</head>
<body ng-controller="LoginCtrl">
<!--头部-->
    <div class="w">
        <div id="logo">
            <a href="index.html">
                <img src="img/headlogo_new5.png" alt=""/>
            </a>
            <b></b>
        </div>
    </div>
<!--内容 主体-->
    <div id="content">
        <div class="login-wrap">
            <div class="w">
                <div class="login-form">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active"><a href="#student" data-toggle="tab">学生登录</a></li>
                        <li><a href="#teacher" data-toggle="tab">教工登录</a></li>
                        <li><a href="#root" data-toggle="tab">督评中心登录</a></li>
                    </ul>
                    <div class="login-box">
                        <!-- 变淡页面  简单验证-->
                        <div class="msg-wrap">
                            <span id="result-wrong"></span>
                        </div>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="student">
                                <form class="bs-example bs-example-form" role="form">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="输入学号" name="username" ng-model="username" id="user">
                                        <span class="input-group-addon"><b class="glyphicon glyphicon-user"></b></span>
                                        <!--<span class="result" id="Result"></span>-->
                                    </div>
                                    <div class="msg-wrap"></div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><b class=" glyphicon glyphicon-log-in"></b></span>
                                        <input type="text" class="form-control" placeholder="输入密码" name="password" ng-model="password" id="ps">
                                    </div>
                                    <!--<input type="submit" value="Login" id="fat-btn-st"  />-->
                                    <button id="fat-btn-st" class="btn btn-primary btn-position" data-loading-text="Loading..."
                                            type="button"ng-click="login()"> 学生登录
                                    </button>
                                    <script>
//                                        $(function() {
//                                            $(".btn").click(function(){
//                                                $(this).button('loading').delay(1000).queue(function() {
//                                                    console.log();
//                                                    // $(this).button('reset');
//                                                    // $(this).dequeue();
//                                                });
//                                            });
//                                        });
                                    </script>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="teacher">
                                <form class="bs-example bs-example-form" role="form">
                                    <div class="input-group">
                                        <span class="input-group-addon"><b class="glyphicon glyphicon-user"></b></span>
                                        <input type="text" class="form-control" placeholder="输入教工号">
                                    </div>
                                    <div class="msg-wrap"></div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><b class=" glyphicon glyphicon-log-in"></b></span>
                                        <input type="text" class="form-control" placeholder="输入密码">
                                    </div>
                                    <button id="fat-btn1" class="btn btn-primary btn-position" data-loading-text="Loading..."
                                            type="button"> 教工登录
                                    </button>
                                    <script>
//                                        $(function() {
//                                            $(".btn").click(function(){
//                                                $(this).button('loading').delay(1000).queue(function() {
//                                                    // $(this).button('reset');
//                                                    // $(this).dequeue();
//                                                });
//                                            });
//                                        });
                                    </script>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="root">
                                <form class="bs-example bs-example-form" role="form">
                                    <div class="input-group">
                                        <span class="input-group-addon"><b class="glyphicon glyphicon-user"></b></span>
                                        <input type="text" class="form-control" placeholder="输入个人账号">
                                    </div>
                                    <div class="msg-wrap"></div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><b class=" glyphicon glyphicon-log-in"></b></span>
                                        <input type="text" class="form-control" placeholder="输入密码">
                                    </div>
                                    <button id="fat-btn2" class="btn btn-primary btn-position" data-loading-text="Loading..."
                                            type="button"> 督评中心登录
                                    </button>
                                    <script>
//                                        $(function() {
//                                            $(".btn").click(function(){
//                                                $(this).button('loading').delay(1000).queue(function() {
//                                                    // $(this).button('reset');
//                                                    // $(this).dequeue();
//                                                });
//                                            });
//                                        });
                                    </script>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-banner">
                <div class="w">
                    <div class="banner-bg i-inner"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
    $(function(){
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            // 获取已激活的标签页的名称
            var activeTab = $(e.target).text();
            // 获取前一个激活的标签页的名称
            var previousTab = $(e.relatedTarget).text();
            $(".active-tab span").html(activeTab);
            $(".previous-tab span").html(previousTab);
        });
    });
</script>
<!--尾部-->
    <div class="w">
        <div class="footer">
            <div class="copyright">
                Copyright © 20017-2017  计133-1-程雪飞 版权所有
            </div>
        </div>
    </div>
</body>
</html>
