<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!--评学 详情页面-->
<a href="javaScript:void(0)">
    <li  class="list-group-item active clearfix" style="background-color: #f6f8f8; border:1px solid #dde6e6;">
        <h4 class="list-group-item-heading pull-right" style="color:#58666e;font-weight: bold;line-height: 30px">
             <!--学生姓名-[课程名]-->
            <!--{{student.name}}&#45;&#45;-->
            [{{co.name}}]
        </h4>
        <!--<button class="btn btn-success pull-right" ng-click="save()">编辑</button>-->
    </li>
</a>
<li  class="list-group-item clearfix">
        <span class="list-group-item-heading ">
           1:是否尊重师长，文明礼貌
        </span><br/>
    <div class="pull-left m-l margin-l-px-neg-30 col-sm-11  margin-t-px-15">
        <div class=" radio-inline m-l-xs ">
            <label class="i-checks" ng-repeat="p1 in pingjia">
                <input type="radio" name="pingjia1" value="{{p1.value}}" ng-click="getValue1(p1.value)" ng-model="p11">
                <i></i>
                {{p1.name}}
            </label>
        </div>
    </div>
</li>
<li  class="list-group-item clearfix">
       <span class="list-group-item-heading ">
           2:是否出勤率高，课堂纪律情况良好，认真听讲
        </span><br/>
    <div class="pull-left m-l margin-l-px-neg-30 col-sm-11  margin-t-px-15">
        <div class=" radio-inline m-l-xs ">
            <label class="i-checks" ng-repeat="p2 in pingjia">
                <input type="radio" name="pingjia2" value="{{p2.value}}" ng-click="getValue2(p2.value)"ng-model="p22">
                <i></i>
                {{p2.name}}
            </label>
        </div>
    </div>
</li>
<li  class="list-group-item clearfix">
       <span class="list-group-item-heading ">
           3:自学能力较好，做到课前预习、课后复习
        </span><br/>
    <div class="pull-left m-l margin-l-px-neg-30 col-sm-11  margin-t-px-15">
        <div class=" radio-inline m-l-xs ">
            <label class="i-checks" ng-repeat="p3 in pingjia">
                <input type="radio" name="pingjia3" value="{{p3.value}}" ng-click="getValue3(p3.value)"ng-model="p33">
                <i></i>
                {{p3.name}}
            </label>
        </div>
    </div>
</li>
<li  class="list-group-item clearfix">
        <span class="list-group-item-heading ">
           4:课堂学习气氛活跃，发言踊跃，讨论热烈
        </span><br/>
    <div class="pull-left m-l margin-l-px-neg-30 col-sm-11  margin-t-px-15">
        <div class=" radio-inline m-l-xs ">
            <label class="i-checks" ng-repeat="p4 in pingjia">
                <input type="radio" name="pingjia4" value="{{p4.value}}" ng-click="getValue4(p4.value)"ng-model="p44">
                <i></i>
                {{p4.name}}
            </label>
        </div>
    </div>
</li>
<li  class="list-group-item clearfix">
       <span class="list-group-item-heading ">
           5:能按时独立完成作业，并能随时提出问题
        </span><br/>
    <div class="pull-left m-l margin-l-px-neg-30 col-sm-11  margin-t-px-15">
        <div class=" radio-inline m-l-xs ">
            <label class="i-checks" ng-repeat="p5 in pingjia">
                <input type="radio" name="pingjia5" value="{{p5.value}}" ng-click="getValue5(p5.value)"ng-model="p55">
                <i></i>
                {{p5.name}}
            </label>
        </div>
    </div>
</li>
<li  class="list-group-item clearfix">
       <span class="list-group-item-heading ">
           6:能结合本课程，经常阅读一些相关参考文献资料
        </span><br/>
    <div class="pull-left m-l margin-l-px-neg-30 col-sm-11  margin-t-px-15">
        <div class=" radio-inline m-l-xs ">
            <label class="i-checks" ng-repeat="p6 in pingjia">
                <input type="radio" name="pingjia6" value="{{p6.value}}" ng-click="getValue6(p6.value)"ng-model="p66">
                <i></i>
                {{p6.name}}
            </label>
        </div>
    </div>
</li>
<li  class="list-group-item clearfix">
       <span class="list-group-item-heading ">
           7:能正确认识到学习本门课程的作用和意义
        </span><br/>
    <div class="pull-left m-l margin-l-px-neg-30 col-sm-11  margin-t-px-15">
        <div class=" radio-inline m-l-xs ">
            <label class="i-checks" ng-repeat="p7 in pingjia">
                <input type="radio" name="pingjia7" value="{{p7.value}}" ng-click="getValue7(p7.value)"ng-model="p77">
                <i></i>
                {{p7.name}}
            </label>
        </div>
    </div>
</li>
<li  class="list-group-item clearfix">
        <span class="list-group-item-heading ">
           8:对本课感兴趣，学习积极性高
        </span><br/>
    <div class="pull-left m-l margin-l-px-neg-30 col-sm-11  margin-t-px-15">
        <div class=" radio-inline m-l-xs ">
            <label class="i-checks" ng-repeat="p8 in pingjia">
                <input type="radio" name="pingjia8" value="{{p8.value}}" ng-click="getValue8(p8.value)"ng-model="p88">
                <i></i>
                {{p8.name}}
            </label>
        </div>
    </div>
</li>
<li  class="list-group-item clearfix">
       <span class="list-group-item-heading ">
           9:理论联系实践
        </span><br/>
    <div class="pull-left m-l margin-l-px-neg-30 col-sm-11  margin-t-px-15">
        <div class=" radio-inline m-l-xs ">
            <label class="i-checks" ng-repeat="p9 in pingjia">
                <input type="radio" name="pingjia9" value="{{p9.value}}" ng-click="getValue9(p9.value)" ng-model="p99">
                <i></i>
                {{p9.name}}
            </label>
        </div>
    </div>
</li>
<li  class="list-group-item clearfix">
        <span class="list-group-item-heading ">
           10:对本课的学习方法正确，能活学活用，有创新
        </span><br/>
    <div class="pull-left m-l margin-l-px-neg-30 col-sm-11  margin-t-px-15">
        <div class=" radio-inline m-l-xs ">
            <label class="i-checks" ng-repeat="p10 in pingjia">
                <input type="radio" name="pingjia10" value="{{p10.value}}" ng-click="getValue10(p10.value)" ng-model="p100">
                <i></i>
                {{p10.name}}
            </label>
        </div>
    </div>
</li>
<li class="list-group-item">
    <div class="form-group">
        <label>对学生们的评语</label>
        <textarea class="form-control" rows="3" ng-model="text"></textarea>
    </div>
</li>
<br/>
<button id="fat-btn" class="btn btn-block btn-primary"  type="button" ng-click="submit()"> 提交评学表单</button>
</body>
</html>