<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!--学生评教的结果查询 详情页面-->
<a href="javaScript:void(0)">
    <li  class="list-group-item active clearfix" style="background-color: #f6f8f8; border:1px solid #dde6e6;">
        <h4 class="list-group-item-heading pull-right" style="color:#58666e;font-weight: bold;line-height: 30px">
            {{courseName}}-[总得分：{{total}}分]
            <!-- 课程名-->
        </h4>
        <!--<button class="btn btn-success pull-right" ng-click="save()">编辑</button>-->
    </li>
</a>
<table class="table table-hover" style="background-color: #fff;">
    <thead>
    <tr>
        <th class="wid-percent-20">序号</th>
        <th  class="wid-percent-35">评分指标</th>
        <th class="wid-percent-26">分值</th>
        <th class="wid-percent-26">得分</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="d in content">
        <td >{{d.id}}</td>
        <td>{{d.text}}</td>
        <td>{{d.s}}</td>
        <td>{{d.value}}</td>
    </tr>
    </tbody>
</table>
<!--学生评语list-->
<li class="list-group-item" ng-if="list==''">暂时没有同学给您评论哦</li>
<li  class="list-group-item" ng-repeat="li in list">
        <span class="list-group-item-heading ">
{{li.stId}}：{{li.content}}
        </span>
</li>
<footer class="panel-footer">
    <div class="row padder">
        <div class="pull-left">
            每页显示
            <select  class="input-sm form-control w-xs inline v-middle" ng-model="pageSize"
                     ng-options="page for page in pages"  ng-change="pageSizeChange(pageSize)"></select>
            条
        </div>
        <div class="pull-right">
            <pagination boundary-links="true" total-items="totalItems" items-per-page="pageSize"
                        ng-model="currentPage" ng-change="pageChange(currentPage)" class="m-t-none m-b-none"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                        last-text="&raquo;"></pagination>
        </div>
    </div>
</footer>
</body>
</html>